/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
} */

.App {
  padding: 5px;
  /* border: 5px solid green; */
  margin: 25px solid pink;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}

.title {
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 5em;
  color: crimson;
  opacity: 50%;
  padding: 25px;
  /* border: 5px solid red; */
  margin: 5px;
}

.description{
  text-align: center;
  font-size: 2em;
  padding: 5px;
  /* border: 5px solid black; */
  margin: 2px;
}

.input-form{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.input-label{
  text-align: center;
  font-size: 1.5em;
  color: royalblue;
  padding: 5px;
  /* border: 5px solid blue; */
  margin:5px;
}

.input-div{
  width: 70%;
  /* border: 5px solid yellow; */
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.input-text{
  width: 95%;
  min-height: 200px;
  padding: 5px;
  margin: 5px 0px 7px 0px;
  text-align: left;

}

.input-button {
  width: 100px;
  min-height: 40px;
  padding: 0px;
  /* background-color: purple; */
  margin: 0px 0px 5px 0px;
}

/* .word-table {
  border: 5px solid black;
}

.table-header{
  border: 5px solid black;
}

.table-body{
  border: 5px solid black;
} */