/* Font-colors
#17252a
#2B7A78
#3aafa9
#DEF2F1
#feffff */

body {
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  font-family: serif;
  background-color: #3aafa9;
  color: #17252a;
}

header {
  font-size: 3em;
  padding: 0 3em;
  margin: 0.5em auto;
}

h1 {
  color: #17252a;
  margin-bottom: 0;
}

.title__freq {
  color: #feffff;
  font-family: Times;
}

.subtitle {
  font-size: 0.7em;
  padding: 0 1.5em;
}

.form {
  max-width: 50em;
  display: grid;
  place-items: center;
  padding: 1em 9em;
  margin: 0 auto;
}

.textarea {
  width: 100%;
  max-height: 15em;
  text-align: left;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0.5em;
}

.button {
  width: 10%;
  font-size: 1.1em;
  font-weight: 900;
  font-family: sans-serif;
  min-width: 10em;
  min-height: 3em;
  grid-column: 1;
  grid-row: 2;
  margin: 0.2em;
  background-color: #17252a;
  color: #feffff;
  border-radius: 0.4em;
  box-shadow: 0 0.1em #17252a;
}

.button:hover {
  background-color: #feffff;
  color: #17252a;
  border: 0.5em #17252a;
  box-shadow: 0 0.4em #17252a;
}

.button:active {
  transform: translateY(0.4em);
  box-shadow: 0 0 #999;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1em 5em;
  color: #17252a;
}
